@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .timeline-container {
    @apply relative pt-2 xs:pl-16 xs:pt-0 md:w-1/2 md:ml-auto md:pl-3;
  }
  .timeline-container-left {
    @apply relative pt-2 xs:pl-16 xs:pt-0 md:ml-0 md:w-1/2 md:mr-auto md:pl-0 md:pr-3 md:text-right;
  }
  .timeline-pointer {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-w6 dark:bg-w1 xs:top-11 xs:left-14 md:left-1;
  }
  .timeline-pointer-left {
    @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45  xs:top-11 xs:left-14 md:left-auto md:right-1 bg-w6 dark:bg-w1;
  }
}

*,
html {
  scroll-behavior: smooth !important;
}

.hero-target-container {
  display: inline-block;
  perspective: 1400px;
}

.hero-target {
  position: relative;
  transform-style: preserve-3d;
}

.hero-card-a,
.hero-card-b {
  backface-visibility: hidden;
}

.hero-card-b {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  transform: rotateX(180deg);
}
